- content_for :title, t('.title', :name => @faculty.full_name)
%table.schedule
  %thead
    %tr
      %th{:scope => 'col'} Time
      %th{:scope => 'col'} Room
      %th{:scope => 'col'} Admit(s)
  %tbody
    - @times.each do |time|
      - meeting = @faculty.meeting_for(time)
      %tr{:class => (meeting.nil? ? 'unavailable' : nil)}
        %td!= time.strftime('%I:%M%p')
        %td!= @faculty.room_for(time)
        %td.meeting
          - unless meeting.nil?
            != meeting.admits.map { |a| link_to(a.full_name, admit_meetings_path(a)) }.join(', ')
