- content_for :title, t('.title', :name => @admit.full_name)
%table
  %thead
    %tr
      %th{:scope => 'col'} Time
      %th{:scope => 'col'} Faculty Name
      %th{:scope => 'col'} Room
  %tbody
    - @admit_meetings.each do |meeting|
      %tr
        %td!= meeting.time
        %td!= meeting.faculty.full_name
        %td!= meeting.room







