- content_for :title, t('.title', :name => @admit.full_name)
%table.schedule
  %thead
    %tr
      %th{:scope => 'col'} Time
      %th{:scope => 'col'} Faculty Name
      %th{:scope => 'col'} Room
  %tbody
    - @times.each do |time|
      - meeting = @admit.meeting_at_time(time)
      %tr{:class => (meeting.nil? ? 'unavailable' : nil)}
        %td!= time.strftime('%I:%M%p')
        - unless meeting.nil?
          %td!= meeting.faculty.full_name
          %td!= meeting.room
        - else
          %td
          %td
