- content_for :title, t('.title', :name => @faculty.full_name)
%table.schedule
  %thead
    %tr
      %th{:scope => 'col'} Time
      %th{:scope => 'col'} Room
      %th{:scope => 'col'} Admit(s)
  %tbody
    - @faculty.availabilities.each do |availability|
      %tr{:class => (availability.available ? nil : 'unavailable')}
        %td!= availability.time_slot.begin.strftime('%I:%M%p')
        %td!= availability.room || availability.host.default_room
        %td.meeting!= availability.meetings.by_visitor.map {|a| link_to a.name, admit_meetings_path(a)}.join(', ')
