- content_for :title, t('.title', :name => @faculty.full_name)
%table.schedule
  %thead
    %tr
      %th{:scope => 'col'} Time
      %th{:scope => 'col'} Room
      %th{:scope => 'col'} Admit(s)
  %tbody
    - @faculty_meetings.each do |meeting|
      %tr
        %td!= meeting.time.strftime('%I:%M%p')
        %td!= meeting.room
        %td.meeting
          != meeting.admits.map { |a| link_to(a.full_name, admit_meetings_path(a)) }.join(', ')







