- content_for :title, t('.title', :name => @admit.person.full_name)
%table.schedule
  %thead
    %tr
      %th{:scope => 'col'} Time
      %th{:scope => 'col'} Faculty Name
      %th{:scope => 'col'} Room
  %tbody
    - @admit.availabilities.each do |availability|
      %tr{:class => (availability.available ? nil : 'unavailable')}
        %td!= availability.time_slot.begin.strftime('%I:%M%p')
        - unless availability.meetings.empty?
          - meeting = availability.meetings.first
          %td!= link_to meeting.host.person.name, (@current_user.class == Staff ? tweak_host_meetings_path(meeting.host) : faculty_instance_meetings_path(meeting.host))
          %td!= meeting.room || meeting.host.default_room
        - else
          %td
          %td
