- content_for :title, t('.title')
%table#master.schedule
  %thead
    %tr
      %th Faculty Name
      - @times.each do |time|
        %th.time= time.strftime('%I:%M%p')
  %tbody
    - @meetings_by_faculty.each do |faculty,meetings|
      %tr
        %td!= link_to faculty.full_name, (@current_user.class == Staff ? tweak_faculty_meetings_path(faculty) : faculty_meetings_path(faculty))
        - @times.each do |time|
          %td.meeting
            - meetings.select { |m| m.time == time }.each do |meeting|
              - meeting.admits.each do |admit|
                %span
                  != link_to  admit.full_name, admit_meetings_path(admit), {:title => room_if_not_default(meeting)}
                %br

            
