- content_for :title, 'Print Admit Schedules'
- @admits.each do |admit|
  %h3!= admit.full_name
  %table{:style => @one_per_page ? 'page-break-after: always;' : '', :class => 'schedule'}
    %thead
      %tr
        %th{:scope => 'col'} Time
        %th{:scope => 'col'} Faculty Name
        %th{:scope => 'col'} Room
    %tbody
      - admit.time_slots.each do |time_slot|
        - meeting = admit.meeting_at_time(time_slot.begin)
        %tr{:class => (time_slot.available ? nil : 'unavailable')}
          %td!= time_slot.begin.strftime('%I:%M%p')
          - unless meeting.nil?
            %td!= meeting.faculty.full_name
            %td!= meeting.room
          - else
            %td
            %td
