- content_for :title, 'Print Faculty Schedules'
- @faculty.each do |faculty_instance|
  %h3!= faculty_instance.full_name
  %table{:style => @one_per_page ? 'page-break-after: always;' : '', :class => 'schedule'}
    %thead
      %tr
        %th{:scope => 'col'} Time
        %th{:scope => 'col'} Room
        %th{:scope => 'col'} Admits
    %tbody
      - faculty_instance.availabilities.each do |availability|
        %tr{:class => (availability.available ? nil : 'unavailable')}
          %td!= availability.time_slot.begin.strftime('%I:%M%p')
          %td!= availability.room || faculty_instance.default_room
          %td
            %ul
              - availability.meetings.by_visitor.map(&:visitor) do |visitor|
                %li!= visitor.name
