- content_for :title, 'Print Faculty Schedules'
- @faculty.each do |faculty|
  %h3!= faculty.full_name
  %table{:style => @one_per_page ? 'page-break-after: always;' : '', :class => 'schedule'}
    %thead
      %tr
        %th{:scope => 'col'} Time
        %th{:scope => 'col'} Room
        %th{:scope => 'col'} Admits
    %tbody
      - @times.each do |time|
        - meeting = faculty.meeting_for(time)
        %tr{:class => (meeting.nil? ? 'unavailable' : nil)}
          %td!= time.strftime('%I:%M%p')
          %td!= faculty.room_for(time)
          %td
            %ul
              - unless meeting.nil?
                - meeting.admits.each do |admit|
                  %li!= admit.full_name
