- content_for :title, t('.title', :name => @role.person.name)
= form_for @role, :url => {:action => 'destroy'}, :html => {:method => :delete} do |role_form|
  %fieldset
    != role_form.submit t('.submit')
