- content_for :title, t('.title', :name => @role.person.name)
- form_for([@event, @role]) do |visitor_form|
  - if @role.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @role.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %ul
    != visitor_form.submit t('.submit')
