/* Main */
/* line 4, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.2;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Garamond, "Times New Roman", serif;
  color: #000;
  background: none;
  font-size: 12pt;
}

/* line 17, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #333;
}

/* line 24, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

/* line 29, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
a[href^="http://"] {
  color: #000;
}

/* line 33, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
a abbr[title] {
  border: none;
}

/* line 37, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
a img {
  border: none;
}

/* line 41, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
abbr[title]:after {
  content: " (" attr(title) ") ";
}

/* line 45, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
blockquote {
  margin: 1.3em;
  padding: 1em;
  font-size: 10pt;
}

/* line 51, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
caption {
  background: #fff;
  margin-bottom: 2em;
  text-align: left;
}

/* line 57, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
code, kbd, samp, var {
  font: 10pt Courier, monospace;
}

/* line 61, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 65, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
h1 {
  font-size: 19pt;
}

/* line 69, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
h2 {
  font-size: 17pt;
}

/* line 73, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
h3 {
  font-size: 15pt;
}

/* line 77, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
h4, h5, h6 {
  font-size: 12pt;
}

/* line 81, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
hr {
  background-color: #ccc;
}

/* line 85, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
img {
  float: left;
  margin: 1em 1.5em 1.5em 0;
}

/* line 90, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
table {
  margin: 1px;
  text-align: left;
  width: 100%;
}

/* line 96, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
td {
  border-bottom: 1px solid #333;
}

/* line 100, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
tfoot {
  font-style: italic;
}

/* line 104, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
th {
  border-bottom: 1px solid #333;
  font-weight: bold;
}

/* line 109, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
th, td {
  padding: 4px 10px 4px 0;
}

/* line 113, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
thead {
  display: table-header-group;
}

/* line 117, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
tr {
  page-break-inside: avoid;
}

/* line 121, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
tr.unavailable {
  text-decoration: line-through;
}

/* Hide Unnecessary Elements */
/* line 126, /home/vinsonchuong/Projects/VDMS/VDMS-Code/app/assets/stylesheets/print.css.scss */
h1, h2, #footer, #navigation, #sidebar, button, a.button {
  display: none;
}
