<div id="login_bar">
  Welcome, <%= current_user %> </br >
  <%= link_to 'logout of CalNet', :controller => :application, :action => :logout %>
</div>

<div id="nav_bar">
</div>

<div id="area">
  <h1>Area</h1>
  <p class='highlight'>Filter the admit list by area.</p>
  <a href="">All</a>
  <a href="">None</a>
  <br />
  <input id="AI" name="AI" type="checkbox" value="1" />
  <label for='AI'>AI</label>
  <br />
  <input id="BIO" name="BIO" type="checkbox" value="1" />
  <label for='BIO'>BIO</label>
  <br />
  <input id="COMNET" name="COMNET" type="checkbox" value="1" />
  <label for='COMNET'>COMNET</label>
  <br />
  <input id="ARC" name="ARC" type="checkbox" value="1" />
  <label for='ARC'>ARC</label>
  <br />
  <input id="CIR" name="CIR" type="checkbox" value="1" />
  <label for='CIR'>CIR</label>
  <br />
  <input id="DBMS" name="DBMS" type="checkbox" value="1" />
  <label for='DBMS'>DBMS</label>
  <br />
  <input id="DES" name="DES" type="checkbox" value="1" />
  <label for='DES'>DES</label>
  <br />
  <input id="EDUC" name="EDUC" type="checkbox" value="1" />
  <label for='EDUC'>EDUC</label>
  <br />
  <input id="ENE" name="ENE" type="checkbox" value="1" />
  <label for='ENE'>ENE</label>
  <br />
  <input id="GR" name="GR" type="checkbox" value="1" />
  <label for='GR'>GR</label>
  <br />
  <input id="HCI" name="HCI" type="checkbox" value="1" />
  <label for='HCI'>HCI</label>
  <br />
  <input id="INC" name="INC" type="checkbox" value="1" />
  <label for='INC'>INC</label>
  <br />
  <input id="MEMS" name="MEMS" type="checkbox" value="1" />
  <label for='MEMS'>MEMS</label>
  <br />
  <input id="OSNT" name="OSNT" type="checkbox" value="1" />
  <label for='OSNT'>OSNT</label>
  <br />
  <input id="PHY" name="PHY" type="checkbox" value="1" />
  <label for='PHY'>PHY</label>
  <br />
  <input id="PS" name="PS" type="checkbox" value="1" />
  <label for='PS'>PS</label>
  <br />
  <input id="SCI" name="SCI" type="checkbox" value="1" />
  <label for='SCI'>SCI</label>
  <br />
  <input id="SEC" name="SEC" type="checkbox" value="1" />
  <label for='SEC'>SEC</label>
  <br />
  <input id="SP" name="SP" type="checkbox" value="1" />
  <label for='SP'>SP</label>
  <br />
  <input id="THY" name="THY" type="checkbox" value="1" />
  <label for='THY'>THY</label>
  <br />
</div>

<div id="admits">
  <h1>Admits</h1>
  <p class='highlight'>Drag and drop students between admit list and appointment list.</p>
  <table>
  <thead></thead>
  <tbody>
  <tr>
  <td>Jacob Abernethy</td>
  </tr>
  <tr>
  <td>Stephan Adams</td>
  </tr>
  <tr>
  <td>Alekh Agarwal</td>
  </tr>
  <tr>
  <td>Sameer Agarwal</td>
  </tr>
  <tr>
  <td>Devdatta Akhawe</td>
  </tr>
  <tr>
  <td>Ilge Akkaya</td>
  </tr>
  <tr>
  <td>Louis Poblete Alarcon</td>
  </tr>
  <tr>
  <td>Sara Alspaugh</td>
  </tr>
  <tr>
  <td>Gautam Altekar</td>
  </tr>
  <tr>
  <td>Peter Alvaro</td>
  </tr>
  <tr>
  <td>Arash Ali Amini</td>
  </tr>
  <tr>
  <td>Ganesh Ananthanarayanan</td>
  </tr>
  <tr>
  <td>Michael Anderson</td>
  </tr>
  <tr>
  <td>James Andrews</td>
  </tr>
  <tr>
  <td>Michael Armbrust</td>
  </tr>
  <tr>
  <td>Gilad Arnold</td>
  </tr>
  <tr>
  <td>Nimar S Arora</td>
  </tr>
  <tr>
  <td>Stanley Seunghoon Baek</td>
  </tr>
  <tr>
  <td>Grey Ballard</td>
  </tr>
  <tr>
  <td>Mohit Bansal</td>
  </tr>
  <tr>
  <td>Jonathan Barron</td>
  </tr>
  <tr>
  <td>Eric Battenberg</td>
  </tr>
  <tr>
  <td>Scott Beamer</td>
  </tr>
  <tr>
  <td>Yu Ben</td>
  </tr>
  <tr>
  <td>Yahel Ben-David</td>
  </tr>
  <tr>
  <td>John Bethencourt</td>
  </tr>
  <tr>
  <td>Will Biederman</td>
  </tr>
  <tr>
  <td>Sarah Bird</td>
  </tr>
  <tr>
  <td>Alexandre Bouchard-Cote</td>
  </tr>
  <tr>
  <td>Anupama Bowonder</td>
  </tr>
  <tr>
  <td>Guy Bresler</td>
  </tr>
  <tr>
  <td>Dai Bui</td>
  </tr>
  <tr>
  <td>Sam Burden</td>
  </tr>
  <tr>
  <td>David Burkett</td>
  </tr>
  <tr>
  <td>Jacob Burnim</td>
  </tr>
  <tr>
  <td>Kevin Canini</td>
  </tr>
  <tr>
  <td>Andy Carle</td>
  </tr>
  <tr>
  <td>Robert Carroll</td>
  </tr>
  <tr>
  <td>Bryan Catanzaro</td>
  </tr>
  <tr>
  <td>Christopher Celio</td>
  </tr>
  <tr>
  <td>Andrew Chan</td>
  </tr>
  <tr>
  <td>Keng-hao Chang</td>
  </tr>
  <tr>
  <td>Shaunak Chatterjee</td>
  </tr>
  <tr>
  <td>Andrew Chemistruck</td>
  </tr>
  <tr>
  <td>Kevin Zhijie Chen</td>
  </tr>
  <tr>
  <td>Kuang Chen</td>
  </tr>
  <tr>
  <td>Eric Chin</td>
  </tr>
  <tr>
  <td>Erika Chin</td>
  </tr>
  <tr>
  <td>Chia Yuan Cho</td>
  </tr>
  <tr>
  <td>Jike Chong</td>
  </tr>
  <tr>
  <td>Mosharaf Chowdhury</td>
  </tr>
  <tr>
  <td>Derrick Coetzee</td>
  </tr>
  <tr>
  <td>Neil Conway</td>
  </tr>
  <tr>
  <td>Henry Cook</td>
  </tr>
  <tr>
  <td>James Cook</td>
  </tr>
  <tr>
  <td>Arel Lee Cordero</td>
  </tr>
  <tr>
  <td>Kristal Curtis</td>
  </tr>
  <tr>
  <td>Stephen Dawson-Haggerty</td>
  </tr>
  <tr>
  <td>Anindya De</td>
  </tr>
  <tr>
  <td>Yasemin Demir</td>
  </tr>
  <tr>
  <td>John Sturdy DeNero</td>
  </tr>
  <tr>
  <td>Navdeep Dhillon</td>
  </tr>
  <tr>
  <td>Yida Duan</td>
  </tr>
  <tr>
  <td>John Duchi</td>
  </tr>
  <tr>
  <td>Greg Durrett</td>
  </tr>
  <tr>
  <td>Gage Eads</td>
  </tr>
  <tr>
  <td>Onur Ergen</td>
  </tr>
  <tr>
  <td>Andrey Ermolinskiy</td>
  </tr>
  <tr>
  <td>Arlo Faria</td>
  </tr>
  <tr>
  <td>Adrienne Porter Felt</td>
  </tr>
  <tr>
  <td>Matthew Finifter</td>
  </tr>
  <tr>
  <td>John Finn</td>
  </tr>
  <tr>
  <td>Andrew Fisher</td>
  </tr>
  <tr>
  <td>Shanna-Shaye Forbes</td>
  </tr>
  <tr>
  <td>Lisa L Fowler</td>
  </tr>
  <tr>
  <td>Rafael Frongillo</td>
  </tr>
  <tr>
  <td>Fernando L. Garcia Bermudez</td>
  </tr>
  <tr>
  <td>Brian Christopher Gawalt</td>
  </tr>
  <tr>
  <td>Greg Gibeling</td>
  </tr>
  <tr>
  <td>Daniel Jacob Gillick</td>
  </tr>
  <tr>
  <td>Andrew Godbehere</td>
  </tr>
  <tr>
  <td>Naveen Goela</td>
  </tr>
  <tr>
  <td>Dave Golland</td>
  </tr>
  <tr>
  <td>Ekaterina Gonina</td>
  </tr>
  <tr>
  <td>Humberto Gonzalez</td>
  </tr>
  <tr>
  <td>Pulkit Grover</td>
  </tr>
  <tr>
  <td>Chunhui Gu</td>
  </tr>
  <tr>
  <td>Assane Gueye</td>
  </tr>
  <tr>
  <td>Meghdad Hajimorad</td>
  </tr>
  <tr>
  <td>Steve Hanna</td>
  </tr>
  <tr>
  <td>Nicholas Hay</td>
  </tr>
  <tr>
  <td>Florian Hecht</td>
  </tr>
  <tr>
  <td>Warren Hoburg</td>
  </tr>
  <tr>
  <td>Luqman Hodgkinson</td>
  </tr>
  <tr>
  <td>Aude Hofleitner</td>
  </tr>
  <tr>
  <td>Richard Edward Honicky</td>
  </tr>
  <tr>
  <td>Justin Hsia</td>
  </tr>
  <tr>
  <td>Fu-Chung Huang</td>
  </tr>
  <tr>
  <td>Timothy Hunter</td>
  </tr>
  <tr>
  <td>Zachery Jacobson</td>
  </tr>
  <tr>
  <td>Sagar Jain</td>
  </tr>
  <tr>
  <td>Allison Janoch</td>
  </tr>
  <tr>
  <td>Susmit Kumar Jha</td>
  </tr>
  <tr>
  <td>Yangqing Jia</td>
  </tr>
  <tr>
  <td>Mervin John</td>
  </tr>
  <tr>
  <td>Mark Johnson</td>
  </tr>
  <tr>
  <td>Milos Jorgovanovic</td>
  </tr>
  <tr>
  <td>Sudeep Kamath</td>
  </tr>
  <tr>
  <td>Amir Ashraf Kamil</td>
  </tr>
  <tr>
  <td>Hongki Kang</td>
  </tr>
  <tr>
  <td>Sergey Karayev</td>
  </tr>
  <tr>
  <td>Branko Kerkez</td>
  </tr>
  <tr>
  <td>Sung Hwan Kim</td>
  </tr>
  <tr>
  <td>Kenrick Kin</td>
  </tr>
  <tr>
  <td>Adam Garnet Kirk</td>
  </tr>
  <tr>
  <td>Bonnie Kirkpatrick</td>
  </tr>
  <tr>
  <td>Nathan Boyd Kitchen</td>
  </tr>
  <tr>
  <td>Mitchell Kline</td>
  </tr>
  <tr>
  <td>Nicholas Knight</td>
  </tr>
  <tr>
  <td>Nicholas Kong</td>
  </tr>
  <tr>
  <td>Andrew Konwinski</td>
  </tr>
  <tr>
  <td>Andrew Krioukov</td>
  </tr>
  <tr>
  <td>Jonathan K Kummerfeld</td>
  </tr>
  <tr>
  <td>Hanh-Phuc Le</td>
  </tr>
  <tr>
  <td>Wenchao Li</td>
  </tr>
  <tr>
  <td>Percy Shuo Liang</td>
  </tr>
  <tr>
  <td>Ben Lickly</td>
  </tr>
  <tr>
  <td>Chung-Wei Lin</td>
  </tr>
  <tr>
  <td>Isaac Liu</td>
  </tr>
  <tr>
  <td>Darsen Lu</td>
  </tr>
  <tr>
  <td>Fanglu Lu</td>
  </tr>
  <tr>
  <td>Yue Lu</td>
  </tr>
  <tr>
  <td>Lester Mackey</td>
  </tr>
  <tr>
  <td>Subhransu Maji</td>
  </tr>
  <tr>
  <td>Cristian Marcu</td>
  </tr>
  <tr>
  <td>Michael Mark</td>
  </tr>
  <tr>
  <td>Mark Lee McKelvin Jr</td>
  </tr>
  <tr>
  <td>Adam Megacz</td>
  </tr>
  <tr>
  <td>Adrian Mettler</td>
  </tr>
  <tr>
  <td>Kurt Miller</td>
  </tr>
  <tr>
  <td>Owen Miller</td>
  </tr>
  <tr>
  <td>Prashanth Mohan</td>
  </tr>
  <tr>
  <td>David Moore</td>
  </tr>
  <tr>
  <td>Mark Murphy</td>
  </tr>
  <tr>
  <td>Venkatesan N E</td>
  </tr>
  <tr>
  <td>Vinayak Nagpal</td>
  </tr>
  <tr>
  <td>Thura Lin Naing</td>
  </tr>
  <tr>
  <td>Sahand N Negahban</td>
  </tr>
  <tr>
  <td>Blaine Nelson</td>
  </tr>
  <tr>
  <td>Pierluigi Nuzzo</td>
  </tr>
  <tr>
  <td>Barlas Oguz</td>
  </tr>
  <tr>
  <td>Dapo Omidiran</td>
  </tr>
  <tr>
  <td>Jorge Ortiz</td>
  </tr>
  <tr>
  <td>Chang Seo Park</td>
  </tr>
  <tr>
  <td>Jemin Park</td>
  </tr>
  <tr>
  <td>Gia Vinh Anh Pham</td>
  </tr>
  <tr>
  <td>George Pierrakos</td>
  </tr>
  <tr>
  <td>Harold Pimentel</td>
  </tr>
  <tr>
  <td>Lucian Popa</td>
  </tr>
  <tr>
  <td>Daniel Ciprian Preda</td>
  </tr>
  <tr>
  <td>Alberto Alessandro Angelo Puggelli</td>
  </tr>
  <tr>
  <td>Ariel Rabkin</td>
  </tr>
  <tr>
  <td>Gireeja Ranade</td>
  </tr>
  <tr>
  <td>Barret Rhoden</td>
  </tr>
  <tr>
  <td>Jason Riedy</td>
  </tr>
  <tr>
  <td>Adam Roberts</td>
  </tr>
  <tr>
  <td>Justin Samuel</td>
  </tr>
  <tr>
  <td>Raluca Sauciuc</td>
  </tr>
  <tr>
  <td>Meromit Schuster</td>
  </tr>
  <tr>
  <td>Yusef Shafi</td>
  </tr>
  <tr>
  <td>Neel Shah</td>
  </tr>
  <tr>
  <td>David Sheffield</td>
  </tr>
  <tr>
  <td>Justine Sherry</td>
  </tr>
  <tr>
  <td>Changhwan Shin</td>
  </tr>
  <tr>
  <td>Aditi Shrikumar Muralidharan</td>
  </tr>
  <tr>
  <td>Yaron Singer</td>
  </tr>
  <tr>
  <td>Mason Smith</td>
  </tr>
  <tr>
  <td>Edgar Solomonik</td>
  </tr>
  <tr>
  <td>Hyun Oh Song</td>
  </tr>
  <tr>
  <td>Matthew Spencer</td>
  </tr>
  <tr>
  <td>Isabelle Stanton</td>
  </tr>
  <tr>
  <td>Alexandre Stauffer</td>
  </tr>
  <tr>
  <td>Emil Stefanov</td>
  </tr>
  <tr>
  <td>Avital Steinitz</td>
  </tr>
  <tr>
  <td>Dusan Stepanovic</td>
  </tr>
  <tr>
  <td>Jimmy Zhigang Su</td>
  </tr>
  <tr>
  <td>Changho Suh</td>
  </tr>
  <tr>
  <td>Erin Summers</td>
  </tr>
  <tr>
  <td>David Qin Sun</td>
  </tr>
  <tr>
  <td>Xuening Sun</td>
  </tr>
  <tr>
  <td>Narayanan Sundaram</td>
  </tr>
  <tr>
  <td>Toshitake Takahashi</td>
  </tr>
  <tr>
  <td>Jay Taneja</td>
  </tr>
  <tr>
  <td>Qian Ying Tang</td>
  </tr>
  <tr>
  <td>Anuj Tewari</td>
  </tr>
  <tr>
  <td>Chintan Thakkar</td>
  </tr>
  <tr>
  <td>Andrew Tinka</td>
  </tr>
  <tr>
  <td>Beth Trushkowsky</td>
  </tr>
  <tr>
  <td>Gregory Valiant</td>
  </tr>
  <tr>
  <td>Matthias Vallentin</td>
  </tr>
  <tr>
  <td>Ram Vasudevan</td>
  </tr>
  <tr>
  <td>Thomas Vidick</td>
  </tr>
  <tr>
  <td>Oriol Vinyals</td>
  </tr>
  <tr>
  <td>Vasily Volkov</td>
  </tr>
  <tr>
  <td>Andrew Wang</td>
  </tr>
  <tr>
  <td>Daisy Zhe Wang</td>
  </tr>
  <tr>
  <td>Andrew Waterman</td>
  </tr>
  <tr>
  <td>Thomas Watson</td>
  </tr>
  <tr>
  <td>Fabian Wauthier</td>
  </tr>
  <tr>
  <td>Kevin Weekly</td>
  </tr>
  <tr>
  <td>Joel Weinberger</td>
  </tr>
  <tr>
  <td>Victor Shih-Hua Wen</td>
  </tr>
  <tr>
  <td>Christopher Wilkens</td>
  </tr>
  <tr>
  <td>Wesley Jay Willett</td>
  </tr>
  <tr>
  <td>Jason Wolfe</td>
  </tr>
  <tr>
  <td>Kristen Ann Woyach</td>
  </tr>
  <tr>
  <td>John Wyrwas</td>
  </tr>
  <tr>
  <td>Reynold Shi Xin</td>
  </tr>
  <tr>
  <td>Nuo Xu</td>
  </tr>
  <tr>
  <td>Shijing Yao</td>
  </tr>
  <tr>
  <td>Matei Zaharia</td>
  </tr>
  <tr>
  <td>Hao Zhang</td>
  </tr>
  <tr>
  <td>Youwei Zhang</td>
  </tr>
  <tr>
  <td>Jia Zou</td>
  </tr>
  </tbody>
  </table>
</div>

<div id="appointments">
  <h1>My Desired Appointments</h1>
  <p class='highlight'>Drag to reorder list.  Roll over column names for explanation of each column.</p>
  <table>
  <thead>
  <tr>
  <th></th>
  <th>
  <span title='Mandatory meeting'>!!!</span>
  </th>
  <th>
  <span title='Number of 15-minute slots for this student'># Slots</span>
  </th>
  <th>
  <span title='This should be an individual meeting'>1:1?</span>
  </th>
  <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>1.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Arash Ali Amini</td>
  </tr>
  <tr>
  <td>2.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Ganesh Ananthanarayanan</td>
  </tr>
  <tr>
  <td>3.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Michael Anderson</td>
  </tr>
  <tr>
  <td>4.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>James Andrews</td>
  </tr>
  <tr>
  <td>5.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Michael Armbrust</td>
  </tr>
  <tr>
  <td>6.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Gilad Arnold</td>
  </tr>
  <tr>
  <td>7.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Nimar S Arora</td>
  </tr>
  <tr>
  <td>8.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Stanley Seunghoon Baek</td>
  </tr>
  <tr>
  <td>9.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Grey Ballard</td>
  </tr>
  <tr>
  <td>10.</td>
  <td><input id="mandatory" name="mandatory" type="checkbox" value="1" /></td>
  <td><select id="nslots" name="nslots" selected="1"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option></select></td>
  <td><input id="one_on_one" name="one_on_one" type="checkbox" value="1" /></td>
  <td>Mohit Bansal</td>
  </tr>
  </tbody>
  </table>
</div>

<div id="calendar">
  <h1>My Availability</h1>
  <p class='highlight'>Check the times you are available, and whether you would be in a room other than your default meeting location.</p>
  <p>
  Maximum number of students per slot:
  <select id="max_per_slot" name="max_per_slot"><option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option></select>
  </p>
  <p>
  Default building & room for meetings:
  <input id="room" name="room" size="15" type="text" value="465 Soda" />
  </p>
  <p>
  <a href="">Check all</a>
  |
  <a href="">Check none</a>
  </p>
  <table>
  <thead>
  <tr>
  <th>Time</th>
  <th>Avail?</th>
  <th>Other room?</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>10:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>10:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>10:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>10:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>11:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>11:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>11:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>11:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>12:00</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>12:15</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>12:30</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>12:45</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>13:00</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>13:15</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>13:30</td>
  <td><input disabled="disabled" id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>13:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>14:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>14:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>14:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>14:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>15:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>15:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>15:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>15:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>16:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>16:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>16:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>16:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>17:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>17:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>17:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>17:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>18:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>18:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>18:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>18:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>19:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>19:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>19:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>19:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>20:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>20:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>20:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>20:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>21:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>21:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>21:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>21:45</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>22:00</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>22:15</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  <tr>
  <td>22:30</td>
  <td><input id="avail" name="avail" type="checkbox" value="" /></td>
  <td><input id="room" name="room" size="15" type="text" value="" /></td>
  </tr>
  </tbody>
  </table>
</div>
