<div id="login_bar">
  Welcome, <%= current_user %> </br >
  <%= link_to 'logout of CalNet', :controller => :application, :action => :logout %>
</div>

<div id="nav_bar">
</div>

<div id="area">
  Area
</div>

<div id="admits">
  Admits
</div>

<div id="appointments">
  Appointments
</div>

<div id="calendar">
  Calendar
</div>
