#login_bar {
	height: 20px;
	border-style: solid;
}

#nav_bar {
	height: 50px;
	border-style: solid;
	position: relative;
	top: 10px;
}

#area {
	width: 200px;
	height: 500px;
	border-style: solid;
	float: left;
	position: relative;
	top: 50px;
	left: 10px;
}

#admits {
	width: 200px;
	height: 500px;
	border-style: solid;
	float: left;
	position: relative;
	top: 50px;
	left: 20px;
}

#appointments {
	width: 200px;
	height: 500px;
	border-style: solid;
	float: left;
	position: relative;
	top: 50px;
	left: 30px;
}

#calendar {
	width: 200px;
	height: 500px;
	border-style: solid;
	float: left;
	position: relative;
	top: 50px;
	left: 40px;
}