@charset "utf-8";
/* Typography */
body {
  font: 1.3em/1.2 "Droid Sans", Helvetica, Verdana, Arial sans-serif;
}

/* Main */
body {
  margin: 0 auto;
  padding-top: 100px;
  width: 420px;
  background-color: #ffffff;
  color: #333333;
}
a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #666666;
}
a:hover {
  text-decoration: underline;
}
h1 {
  display: block;
  height: 118px;
  width: 420px;
  background-image: url("/images/logo_large.png");
  text-indent: -5000px;
}
ul li a {
  display: block;
  margin: 5px auto;
  padding: 0.5em;
  width: 306px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #70a8e1;
  color: white !important;
  opacity: 0.7;
  font-size: 1.2em;
  text-align: center;
}
ul li a:hover {
  opacity: 1;
}