/*Home*/
body{
    background: white;
}

#home-container{
    width: 420px;
    margin: auto;
    margin-top: 5%;
}

#logo{
    width: 420px;
    height: 118px;
    background: url("../images/visitday_logo_large.png");
}

ul#signin-options{
    list-style: none;
    list-indent: 0px;
    -webkit-padding-start: 0px;
}

ul#signin-options li a{
    display: block;
    background: #70a8e1;
    width: 80%;
    opacity: 0.7;
    
    padding: 0.5em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 5px auto;
    
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

ul#signin-options li a:hover{
    opacity: 1;
}