- content_for :title, t('.title')
.section
  %h3 Your Events
  %ol.records
    - @user_events.each do |event|
      %li
        %h4= link_to event.name, event_path(event)
.section
  %h3 Other Events
  %ol.records
    - @other_events.each do |event|
      %li
        %h4= link_to event.name, event_path(event)
        %ul
          %li= link_to t('hosts.join.short_title'), join_event_hosts_path(event), :class => 'action'
          %li= link_to t('visitors.join.short_title'), join_event_visitors_path(event), :class => 'action'

