- if @current_role.nil?
  - content_for :title, 'Dashboard'
  .section
    %h3 Actions
    %ul
      %li= link_to 'Join Event', join_event_path(@event)
- else
  - content_for :javascript do
    :coffeescript
      jQuery ->
        new App
          el: $('#content'),
          type: '#{@current_role.class.name.underscore + '_dashboard'}',
          event_id: #{@event.id},
          role_id: #{@current_role.id}
        return
