- content_for :title, 'Login as a Visitor'
%p Please login using the email that you used on the admissions application.
.section
  = form_tag visitor_login_event_url(@event), :method => 'get' do
    %fieldset
      %ul
        %li.field
          = label_tag 'auth_token', 'Username'
          = text_field_tag 'auth_token'
    %fieldset
      = submit_tag 'Login'
