#list_of_admits
  %h3 List of Admits              
  %span Please check admits whom you desire to schedule a meeting with
  %p
  #fieldset
  - form_tag rank_admits_faculty_path(:id=>6), :method => :get do
    %table
      %thead
        %tr
          %th 
          %th Name
      %tbody
        - if !@admits.empty?
          - @admits.each_with_index do |admit, index|
            %tr
              %td!= check_box_tag "admit_ids[]", admit.id
              %td{:width => "180"}= admit.full_name   
    %br!= submit_tag "Rank Admits"