- content_for :title, t('.title')
- form_for :select, :url => {:action => 'edit_all'}, :html => {:method => :get} do |select_form|
  %fieldset
    %h3!= t('.hosts')
    %ul
      - @rankables.each do |rankable|
        %li
          != select_form.check_box rankable.id
          != select_form.label rankable.id, rankable.full_name
  != select_form.submit t('.submit')
