%p!= "Sorry, you do not have the privileges to further access and use VDMS."
%p!= "If your are a staff member, please contact EECS Admissions to get manually added into the VDMS database."
%p!= link_to 'Please sign out right now.', sign_out_path
