%h2 Faculty Dashboard
%h3 Navigation
%ul
  -#%li!= link_to 'Update Meeting Availability', schedule_faculty_path(@current_user)
  %li!= link_to 'View My Desired Appointments', view_admit_rankings_faculty_path(:id=>6)