%h2 Faculty Dashboard
%h3 Navigation
%ul
  %li!= link_to 'Update Meeting Availability', schedule_faculty_instance_path(@current_user)
  %li!= link_to 'My Desired Appointments', rank_admits_faculty_instance_path(@current_user)