%h2 Faculty Dashboard
%h3 Navigation
%ul
  -#%li!= link_to 'Update Meeting Availability', schedule_faculty_path(@current_user)
  %li!= link_to 'My Desired Appointments', faculty_admit_rankings_path(:faculty_id=>6)