#home-container
    #logo
    %ul#signin-options
        %li!= link_to 'For Staff', staff_dashboard_path
        %li!= link_to 'For Peer Advisors', peer_advisor_dashboard_path
        %li!= link_to 'For Faculty', faculty_dashboard_path
