- content_for :title, t('.title')
%ul
  %li!= link_to t('.staff'), staff_dashboard_path
  %li!= link_to t('.peer_advisors'), peer_advisor_dashboard_path
  %li!= link_to t('.faculty'), faculty_dashboard_path
